html {
  background: #ffffff;
  color: #4c4c4c;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
body,
input,
textarea,
button,
select,
pre,
tt,
code,
kbd,
samp,
optgroup,
option {
  line-height: 1.5;
  font-family: 'Microsoft YaHei', arial, 'Hiragino Sans GB', '\5fae\8f6f\96c5\9ed1', '\5b8b\4f53', arial, verdana, helvetica, sans-serif;
}
body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0;
  font-weight: 100;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}
caption,
th {
  text-align: inherit;
}
ul,
ol,
menu {
  list-style: none;
}
fieldset,
img {
  border: none;
}
img,
object,
input,
textarea,
button,
select {
  vertical-align: top;
}
article,
aside,
footer,
header,
section,
nav,
figure,
figcaption,
hgroup,
details,
menu {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
button,
select,
small {
  font-size: 100%;
}
address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
textarea {
  overflow: auto;
  resize: none;
}
textarea,
input {
  outline: none;
}
mark {
  background-color: #f24846;
}
ins,
s,
u,
del {
  text-decoration: none;
}
a {
  color: #4c4c4c;
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #f24846;
  text-decoration: none;
}
button {
  border: 0 none;
}
input[disabled] {
  background: #ececec;
  color: #cccccc;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aaaaaa;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #aaaaaa;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aaaaaa;
}
::-ms-reveal {
  display: none;
}
:focus {
  -moz-outline-style: none;
}
button::-moz-focus-inner {
  border: none;
}
button:focus {
  outline-style: none;
}
/* for Firefox，IE8.0等 */
/*清除浮动*/
.hidden {
  overflow: hidden;
}
/*
*主体框架样式
*
*/
.box .header {
  background-color: #fff;
}
.box .header .topbar {
  width: auto;
  height: 40px;
  background-color: #525252;
  font-size: 16px;
}
.box .header .topbar .warp {
  width: 1132px;
  height: 40px;
  margin: 0px auto;
  *zoom: 1;
}
.box .header .topbar .warp:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .header .topbar .warp .l {
  float: left;
}
.box .header .topbar .warp .l a {
  display: inline-block;
  width: auto;
  height: 40px;
  line-height: 40px;
  color: #f24846;
  margin-right: 20px;
}
.box .header .topbar .warp .l a.reg {
  color: #ffffff;
}
.box .header .topbar .warp .l span {
  color: #ffffff;
}
.box .header .topbar .warp .r {
  float: right;
}
.box .header .topbar .warp .r a {
  color: #999999;
  line-height: 40px;
  display: inline-block;
  padding-left: 46px;
}
.box .header .topbar .warp .r a:hover {
  color: #f24846;
}
.box .header .head {
  display: block;
  font-size: 18px;
}
.box .header .head .warp {
  width: 1132px;
  height: 70px;
  margin: 0px auto;
  *zoom: 1;
}
.box .header .head .warp:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .header .head .warp .logobox {
  width: auto;
  height: 70px;
  float: left;
  margin-left: -5px;
}
.box .header .head .warp .logobox a img {
  height: 70px;
}
.box .header .head .warp ul {
  *zoom: 1;
}
.box .header .head .warp ul:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .header .head .warp ul.nav {
  float: right;
  margin-top: 15px;
  margin-right: -28px;
}
.box .header .head .warp ul li {
  line-height: 50px;
  float: left;
}
.box .header .head .warp ul li a {
  display: block;
  width: 120px;
  text-align: center;
  border-bottom: 5px solid  #fff;
}
.box .header .head .warp ul li a:hover {
  border-color: #f24846;
}
.box .header .head .warp ul li.on a {
  color: #f24846;
  border-color: #f24846;
}
.box .container {
  min-height: 500px;
}
.box .footer {
  background-color: #525252;
}
.box .footer .warp {
  width: 1132px;
  margin: 0px auto;
  overflow: hidden;
  color: #999999;
  font-size: 14px;
}
.box .footer .warp a {
  color: #999999;
}
.box .footer .warp a:hover {
  color: #f24846;
}
.box .footer .warp h2 {
  font-size: 16px;
  font-weight: 100;
}
.box .footer .warp .top {
  width: 1162px;
  border-bottom: 1px solid #7e7e7e;
  padding: 10px 0px;
  *zoom: 1;
}
.box .footer .warp .top:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .footer .warp .top .l {
  display: inline-block;
  float: left;
  width: 102px;
}
.box .footer .warp .top .r {
  display: inline-block;
  width: 1042px;
  float: left;
  *zoom: 1;
}
.box .footer .warp .top .r:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .footer .warp .top .r a {
  display: inline-block;
  padding: 0px 10px;
  line-height: 30px;
}
.box .footer .warp .top.mid .tops {
  *zoom: 1;
}
.box .footer .warp .top.mid .tops:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .footer .warp .top.mid h2 {
  line-height: 54px;
}
.box .footer .warp .top.mid .r a {
  padding: 0px 20px 0px 0px;
}
.box .footer .warp .top.mid .r a img {
  height: 54px;
}
.box .footer .warp .banq {
  text-align: center;
  line-height: 40px;
}
/*过渡样式*/
a {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.underline {
  text-decoration: underline;
}
.underline:hover {
  text-decoration: underline;
}
/*按钮*/
.xinghao {
  color: #f24846;
}
/*element样式*/
/*信用等级*/
span.samllmark {
  font-size: 12px;
}
span.dj {
  width: 45px;
  height: 24px;
  background: #39b6e4;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  color: #fff;
  border-radius: 12px;
}
span.e {
  background: #f24846;
}
/*ICO*/
.icobxo i {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #f5f5f5;
  margin-right: 20px;
  background-image: url('../images/ico.png');
  background-position: 0px -213px;
  cursor: pointer;
}
.icobxo i.tx {
  background-position: 0px -213px;
}
.icobxo i.tx:hover,
.icobxo i.tx.on {
  background-color: #c3e9ff;
  background-position: 0px -248px;
}
.icobxo i.suo {
  background-position: -35px -213px;
}
.icobxo i.suo:hover {
  background-color: #c3e9ff;
  background-position: -35px -248px;
}
.icobxo i.sj {
  background-position: -70px -213px;
}
.icobxo i.sj:hover {
  background-color: #c3e9ff;
  background-position: -70px -248px;
}
.icobxo i.xx {
  background-position: -105px -213px;
}
.icobxo i.xx:hover {
  background-color: #c3e9ff;
  background-position: -105px -248px;
}
.mbx {
  padding: 5px 25px;
}
.mbx a {
  color: #4c4c4c;
  padding: 0px 0px;
}
.mbx a:hover {
  color: #f24846;
}
input.text {
  width: 160px;
  border: 1px solid #dddddd;
  height: 34px;
  padding: 0px 10px;
}
input.time {
  width: 120px;
  border: 1px solid #dddddd;
  height: 34px;
  padding: 0px 10px;
  background: url('../images/ico.png') no-repeat right -113px;
}
input.subBut {
  display: inline-block;
  background: #f24846;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
input.subBut:hover {
  background: #ef1916;
}
input.retBut {
  display: inline-block;
  background: #39b6e4;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
input.retBut:hover {
  background: #1c9ece;
}
.bottonbox {
  margin-top: 10px;
  padding: 20px 0px;
  text-align: center;
}
.bottonbox.subBut {
  display: inline-block;
  background: #f24846;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.bottonbox.subBut:hover {
  background: #ef1916;
}
.bottonbox.retBut {
  display: inline-block;
  margin-right: 10px;
  background: #39b6e4;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.bottonbox.retBut:hover {
  background: #1c9ece;
}
/*
*2015
*首页样式
*zxd
*/
.banner {
  height: 350px;
  overflow: hidden;
  position: relative;
  width: 100%;
  box-shadow: 0px 3px 10px #c5c5c5;
}
.banner ul {
  height: 350px;
  width: 100%;
}
.banner ul li {
  height: 350px;
  width: 100%;
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
}
.banner ul li a {
  display: block;
  width: 1132px;
  margin: 0px auto;
}
.banner ul li a img {
  height: 350px;
}
.banner .btnlst {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
}
.banner .btnlst span {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  display: inline-block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  /* 兼容老版本firefox */
  font-size: 0;
  margin: 0px 5px;
  overflow: hidden;
}
.banner .btnlst span.on {
  background-color: #ffffff;
}
.busin {
  margin: 20px 0px;
}
.busin .warp {
  width: 1132px;
  overflow: hidden;
  margin: 0px auto;
}
.busin .warp .inwarp {
  width: 1135px;
  *zoom: 1;
}
.busin .warp .inwarp:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.busin .warp .inwarp .list {
  float: left;
  width: 377px;
  border-right: 1px dotted #dddddd;
}
.busin .warp .inwarp .list div.inlist {
  width: 250px;
  margin: 0px auto;
  text-align: center;
}
.busin .warp .inwarp .list div.inlist.l1 .m-icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-repeat: no-repeat;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
}
.busin .warp .inwarp .list div.inlist.l1 .i-ico-100 {
  background-image: url('../images/ico.png');
  width: 100px;
  height: 100px;
  background-position: -18px -15px;
  background-color: none;
}
.busin .warp .inwarp .list div.inlist.l2 .m-icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-repeat: no-repeat;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
}
.busin .warp .inwarp .list div.inlist.l2 .i-ico-100 {
  background-image: url('../images/ico.png');
  width: 100px;
  height: 100px;
  background-position: -155px -15px;
  background-color: none;
}
.busin .warp .inwarp .list div.inlist.l3 .m-icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-repeat: no-repeat;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
}
.busin .warp .inwarp .list div.inlist.l3 .i-ico-100 {
  background-image: url('../images/ico.png');
  width: 100px;
  height: 100px;
  background-position: -290px -15px;
  background-color: none;
}
.busin .warp .inwarp .list div.inlist .m-icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-repeat: no-repeat;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
}
.busin .warp .inwarp .list div.inlist .i-ico-100 {
  background-image: url('../images/ico.png');
  width: 100px;
  height: 100px;
  background-position: -290px -15px;
  background-color: none;
}
.busin .warp .inwarp .list div.inlist h2 {
  text-align: center;
  font-weight: 100;
  font-size: 22px;
  margin: 5px 0px;
}
.busin .warp .inwarp .list div.inlist p {
  text-align: left;
  font-size: 16px;
  color: #666666;
}
.busin .warp .inwarp .list div.inlist p span {
  color: #f24846;
}
.tbox {
  background-color: #fbfbfb;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding-top: 15px;
  padding-bottom: 15px;
}
.tbox.lbox {
  border-top: none;
  background-color: #ffffff;
}
.tbox .warp {
  *zoom: 1;
  width: 1132px;
  height: auto;
  margin: 0px auto;
  overflow: hidden;
}
.tbox .warp:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.tbox .warp h2 {
  font-size: 22px;
}
.tbox .warp .list-mylist li {
  border-bottom: 1px dotted #dddddd;
  line-height: 60px;
  color: #4c4c4c;
  *zoom: 1;
}
.tbox .warp .list-mylist li:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.tbox .warp .list-mylist li .td {
  position: relative;
  float: left;
  width: 12%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tbox .warp .list-mylist li .td.first {
  width: 40%;
  text-align: left;
  *zoom: 1;
}
.tbox .warp .list-mylist li .td.first:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.tbox .warp .list-mylist li .td.first .ico-20 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #ffffff;
  color: #ffffff;
  float: left;
  margin: 21px 10px 0px 0px;
  line-height: 20px;
  text-align: center;
  border-radius: 2px;
  font-size: 14px;
}
.tbox .warp .list-mylist li .td.left {
  width: 70%;
  text-align: left;
  *zoom: 1;
}
.tbox .warp .list-mylist li .td.left:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.tbox .warp .list-mylist li .td.left .ico-20 {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #f24846;
  background: none;
  color: #f24846;
  float: left;
  margin: 20px 10px 0px 0px;
  line-height: 20px;
  text-align: center;
  border-radius: 20px;
  font-size: 14px;
}
.tbox .warp .list-mylist li .td.right {
  float: right;
  color: #666666;
  width: auto;
}
.tbox .warp .list-mylist li .td.last {
  text-align: right;
}
.tbox .warp .list-mylist li:last-child {
  border-bottom: none;
}
.tbox .warp .list-mylist li.title {
  border-bottom: none;
  font-size: 14px;
  color: #a9a9a9;
}
.tbox .warp .list-mylist li.title .td.first .ico-20 {
  visibility: hidden;
}
.tbox .warp .myspeed {
  width: 102px;
  height: 36px;
  display: block;
  margin: 0px auto;
  margin-top: 10%;
  font-size: 12px;
}
.tbox .warp .myspeed .smalls {
  line-height: 20px;
  display: block;
}
.tbox .warp .myspeed .barbox {
  width: 100px;
  height: 10px;
  display: block;
  border: 1px solid #39b6e4;
  overflow: hidden;
  border-radius: 10px;
}
.tbox .warp .myspeed .barbox span {
  height: 10px;
  width: 50px;
  background: #39b6e4;
  display: block;
  border-radius: 0px 10px 10px 0px;
}
.tbox .warp .m-btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  outline: none;
  overflow: visible;
  width: auto;
  *width: 1;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
.tbox .warp .btn-wite {
  height: 38px;
  padding: 0px 40px;
  background: none;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aaaaaa;
}
.tbox .warp .btn-wite:hover {
  color: #999999;
  border-color: #999999;
}
.tbox .warp .btnbox {
  text-align: center;
  padding: 10px 0px;
}
.tbox .warp .inwarp {
  width: 1152px;
  *zoom: 1;
}
.tbox .warp .inwarp:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.tbox .warp .inwarp .box {
  float: left;
  width: 554px;
  background: #fbfbfb;
  border: 1px solid #dddddd;
  overflow: hidden;
  margin-right: 18px;
}
.tbox .warp .inwarp .box .inbox {
  display: block;
  margin: 38px;
  font-size: 14px;
}
.tbox .warp .inwarp .box .inbox p {
  display: inline-block;
}
.tbox .warp .inwarp .box .inbox p.title {
  color: #39b6e4;
  margin-bottom: 20px;
}
