html {
  background: #ffffff;
  color: #4c4c4c;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
body,
input,
textarea,
button,
select,
pre,
tt,
code,
kbd,
samp,
optgroup,
option {
  line-height: 1.5;
  font-family: 'Microsoft YaHei', arial, 'Hiragino Sans GB', '\5fae\8f6f\96c5\9ed1', '\5b8b\4f53', arial, verdana, helvetica, sans-serif;
}
body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0;
  font-weight: 100;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}
caption,
th {
  text-align: inherit;
}
ul,
ol,
menu {
  list-style: none;
}
fieldset,
img {
  border: none;
}
img,
object,
input,
textarea,
button,
select {
  vertical-align: top;
}
article,
aside,
footer,
header,
section,
nav,
figure,
figcaption,
hgroup,
details,
menu {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
button,
select,
small {
  font-size: 100%;
}
address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
textarea {
  overflow: auto;
  resize: none;
}
textarea,
input {
  outline: none;
}
mark {
  background-color: #f95723;
}
ins,
s,
u,
del {
  text-decoration: none;
}
a {
  color: #4c4c4c;
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #f95723;
  text-decoration: none;
}
button {
  border: 0 none;
}
input[disabled] {
  background: #ececec;
  color: #cccccc;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aaaaaa;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #aaaaaa;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aaaaaa;
}
::-ms-reveal {
  display: none;
}
:focus {
  -moz-outline-style: none;
}
button::-moz-focus-inner {
  border: none;
}
button:focus {
  outline-style: none;
}
/* for Firefox，IE8.0等 */
/*清除浮动*/
.hidden {
  overflow: hidden;
}
/*
*主体框架样式
*
*/
.box .header {
  background-color: #fff;
}
.box .header .topbar {
  width: auto;
  height: 40px;
  background-color: #525252;
  font-size: 16px;
}
.box .header .topbar .warp {
  width: 1132px;
  height: 40px;
  margin: 0px auto;
  *zoom: 1;
}
.box .header .topbar .warp:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .header .topbar .warp .l {
  float: left;
}
.box .header .topbar .warp .l a {
  display: inline-block;
  width: auto;
  height: 40px;
  line-height: 40px;
  color: #f95723;
  margin-right: 20px;
}
.box .header .topbar .warp .l a.reg {
  color: #65cbfc;
}
.box .header .topbar .warp .l span {
  color: #65cbfc;
}
.box .header .topbar .warp .r {
  float: right;
}
.box .header .topbar .warp .r a {
  color: #999999;
  line-height: 40px;
  display: inline-block;
  padding-left: 46px;
}
.box .header .topbar .warp .r a:hover {
  color: #f95723;
}
.box .header .head {
  display: block;
  font-size: 18px;
}
.box .header .head .warp {
  width: 1132px;
  height: 70px;
  margin: 0px auto;
  *zoom: 1;
}
.box .header .head .warp:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .header .head .warp .logobox {
  width: auto;
  height: 70px;
  float: left;
  margin-left: -5px;
}
.box .header .head .warp .logobox a img {
  height: 70px;
}
.box .header .head .warp ul {
  *zoom: 1;
}
.box .header .head .warp ul:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .header .head .warp ul.nav {
  float: right;
  margin-top: 15px;
  margin-right: -28px;
}
.box .header .head .warp ul li {
  line-height: 50px;
  float: left;
}
.box .header .head .warp ul li a {
  display: block;
  width: 120px;
  text-align: center;
  border-bottom: 5px solid  #fff;
}
.box .header .head .warp ul li a:hover {
  border-color: #f95723;
}
.box .header .head .warp ul li.on a {
  color: #f95723;
  border-color: #f95723;
}
.box .container {
  min-height: 500px;
}
.box .footer {
  background-color: #525252;
}
.box .footer .warp {
  width: 1132px;
  margin: 0px auto;
  overflow: hidden;
  color: #999999;
  font-size: 14px;
}
.box .footer .warp a {
  color: #999999;
}
.box .footer .warp a:hover {
  color: #f95723;
}
.box .footer .warp h2 {
  font-size: 16px;
  font-weight: 100;
}
.box .footer .warp .top {
  width: 1162px;
  border-bottom: 1px solid #7e7e7e;
  padding: 10px 0px;
  *zoom: 1;
}
.box .footer .warp .top:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .footer .warp .top .l {
  display: inline-block;
  float: left;
  width: 102px;
}
.box .footer .warp .top .r {
  display: inline-block;
  width: 1042px;
  float: left;
  *zoom: 1;
}
.box .footer .warp .top .r:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .footer .warp .top .r a {
  display: inline-block;
  padding: 0px 10px;
  line-height: 30px;
}
.box .footer .warp .top.mid .tops {
  *zoom: 1;
}
.box .footer .warp .top.mid .tops:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.box .footer .warp .top.mid h2 {
  line-height: 54px;
}
.box .footer .warp .top.mid .r a {
  padding: 0px 20px 0px 0px;
}
.box .footer .warp .top.mid .r a img {
  height: 54px;
}
.box .footer .warp .banq {
  text-align: center;
  line-height: 40px;
}
/*过渡样式*/
a {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.underline {
  text-decoration: underline;
}
.underline:hover {
  text-decoration: underline;
}
/*按钮*/
.xinghao {
  color: #f95723;
}
/*element样式*/
/*信用等级*/
span.samllmark {
  font-size: 12px;
}
span.dj {
  width: 45px;
  height: 24px;
  background: #73c343;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  color: #fff;
  border-radius: 12px;
}
span.e {
  background: #f95723;
}
/*ICO*/
.icobxo i {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #f5f5f5;
  margin-right: 20px;
  background-image: url('../images/ico.png');
  background-position: 0px -213px;
  cursor: pointer;
}
.icobxo i.tx {
  background-position: 0px -213px;
}
.icobxo i.tx:hover,
.icobxo i.tx.on {
  background-color: #c3e9ff;
  background-position: 0px -248px;
}
.icobxo i.suo {
  background-position: -35px -213px;
}
.icobxo i.suo:hover {
  background-color: #c3e9ff;
  background-position: -35px -248px;
}
.icobxo i.sj {
  background-position: -70px -213px;
}
.icobxo i.sj:hover {
  background-color: #c3e9ff;
  background-position: -70px -248px;
}
.icobxo i.xx {
  background-position: -105px -213px;
}
.icobxo i.xx:hover {
  background-color: #c3e9ff;
  background-position: -105px -248px;
}
.mbx {
  padding: 5px 25px;
}
.mbx a {
  color: #4c4c4c;
  padding: 0px 0px;
}
.mbx a:hover {
  color: #f95723;
}
input.text {
  width: 160px;
  border: 1px solid #dddddd;
  height: 34px;
  padding: 0px 10px;
}
input.time {
  width: 120px;
  border: 1px solid #dddddd;
  height: 34px;
  padding: 0px 10px;
  background: url('../images/ico.png') no-repeat right -113px;
}
input.subBut {
  display: inline-block;
  background: #f95723;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
input.subBut:hover {
  background: #e33c06;
}
input.retBut {
  display: inline-block;
  background: #2b9dd9;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
input.retBut:hover {
  background: #207fb1;
}
.bottonbox {
  margin-top: 10px;
  padding: 20px 0px;
  text-align: center;
}
.bottonbox.subBut {
  display: inline-block;
  background: #f95723;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.bottonbox.subBut:hover {
  background: #e33c06;
}
.bottonbox.retBut {
  display: inline-block;
  margin-right: 10px;
  background: #2b9dd9;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.bottonbox.retBut:hover {
  background: #207fb1;
}
/*
*2015
*招标列表
*zxd
*/
body {
  background: #f2f2f2;
}
.header {
  box-shadow: 0px 1px 10px #c8c8c8;
}
.la-my {
  width: 1132px;
  margin: 12px auto;
}
.la-my .borrow {
  padding: 10px 30px;
  background: #fff;
  margin-bottom: 7px;
  border-radius: 3px;
  border: 1px solid #eeeeee;
}
.la-my .borrow.top {
  height: 168px;
  overflow: hidden;
  position: relative;
}
.la-my .borrow.top .bar {
  width: 920px;
  height: 6px;
  background: #d4d4d4;
  position: absolute;
  left: 50%;
  margin-left: -460px;
  top: 70px;
}
.la-my .borrow.top .bar .bars {
  width: 920px;
  height: 6px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #3db8ff;
}
.la-my .borrow.top .bar .qiu {
  width: 24px;
  height: 24px;
  border: 4px solid #fff;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  border-radius: 28px;
  background: #d4d4d4;
  color: #999999;
}
.la-my .borrow.top .bar .qiu span {
  display: block;
  width: 110px;
  position: absolute;
  left: 50%;
  margin-left: -55px;
  text-align: center;
  top: 60px;
}
.la-my .borrow.top .bar .qiu.n1 {
  left: 0px;
}
.la-my .borrow.top .bar .qiu.n2 {
  left: 225px;
}
.la-my .borrow.top .bar .qiu.n3 {
  left: 450px;
}
.la-my .borrow.top .bar .qiu.n4 {
  left: 675px;
}
.la-my .borrow.top .bar .qiu.n5 {
  left: 900px;
}
.la-my .borrow.top .bar .qiu.on {
  width: 34px;
  height: 34px;
  margin-top: -21px;
  border-radius: 38px;
  background: #3db8ff;
  color: #3db8ff;
}
.la-my .borrow.top .bar .qiu.on span {
  top: 65px;
}
.la-my .borrow.mit {
  padding: 0px 20px 10px 20px;
}
.la-my .borrow.mit .title {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px dotted #dddddd;
  padding: 0px 20px;
}
.la-my .borrow.mit .borrowcard {
  width: 1045px;
  overflow: hidden;
  display: block;
  margin: 15px auto;
}
.la-my .borrow.mit .borrowcard .inborrcard {
  *zoom: 1;
  width: 1100px;
}
.la-my .borrow.mit .borrowcard .inborrcard:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.la-my .borrow.mit .borrowcard .inborrcard .card {
  width: 220px;
  height: 105px;
  overflow: hidden;
  text-align: center;
  float: left;
  background: #fff;
  border-radius: 12px;
  border: 1px dotted #3db8ff;
  margin-right: 50px;
  cursor: pointer;
}
.la-my .borrow.mit .borrowcard .inborrcard .card h2 {
  font-size: 18px;
  margin-top: 24px;
}
.la-my .borrow.mit .borrowcard .inborrcard .card p {
  font-size: 14px;
  margin-top: 5px;
  color: #999999;
}
.la-my .borrow.mit .borrowcard .inborrcard .card.on,
.la-my .borrow.mit .borrowcard .inborrcard .card:hover {
  background: #ecf8ff;
}
.la-my .borrow.mit .basicfrome {
  font-size: 14px;
}
.la-my .borrow.mit .basicfrome .label {
  *zoom: 1;
  margin-bottom: 5px;
}
.la-my .borrow.mit .basicfrome .label:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.la-my .borrow.mit .basicfrome .label .subject {
  float: left;
  width: 135px;
  text-align: right;
  line-height: 32px;
}
.la-my .borrow.mit .basicfrome .label input {
  width: 160px;
  padding: 0px 10px;
  border-radius: 3px;
  border: 1px solid #dddddd;
  height: 30px;
  display: block;
  float: left;
}
.la-my .borrow.mit .basicfrome .label input.length4 {
  width: 160px;
}
.la-my .borrow.mit .basicfrome .label input.length2 {
  width: 290px;
}
.la-my .borrow.mit .basicfrome .label input.yzm {
  width: 75px;
  margin-right: 6px;
}
.la-my .borrow.mit .basicfrome .label input.sub {
  background: #f95723;
  width: 100px;
  border-radius: 4px;
  color: #fff;
  border: none;
  margin-right: 10px;
}
.la-my .borrow.mit .basicfrome .label input.sub:hover {
  background-color: #e33c06;
}
.la-my .borrow.mit .basicfrome .label input.bad {
  background: #c8c8c8;
  width: 100px;
  border-radius: 4px;
  color: #fff;
  border: none;
  margin-right: 10px;
}
.la-my .borrow.mit .basicfrome .label input.bad:hover {
  background-color: #afafaf;
}
.la-my .borrow.mit .basicfrome .label input.radio {
  width: auto;
}
.la-my .borrow.mit .basicfrome .label input.checkbox {
  width: auto;
}
.la-my .borrow.mit .basicfrome .label .yzmbtn {
  display: inline-block;
  line-height: 32px;
  background: #2b9dd9;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  border: none;
  width: 100px;
  margin-left: 10px;
}
.la-my .borrow.mit .basicfrome .label select {
  width: 180px;
  border-radius: 3px;
  padding-left: 10px;
  border: 1px solid #dddddd;
  height: 30px;
  display: block;
  float: left;
}
.la-my .borrow.mit .basicfrome .label textarea {
  width: 690px;
  padding: 0px 10px;
  height: 100px;
  border-radius: 3px;
  float: left;
  border: 1px solid #dddddd;
}
.la-my .borrow.mit .basicfrome .label .xinghao {
  line-height: 32px;
  padding-left: 10px;
  color: #f95723;
}
.la-my .borrow.mit .basicfrome .label span {
  line-height: 32px;
  padding-left: 5px;
}
.la-my .borrow.mit .basicfrome {
  padding: 10px;
  color: #666666;
}
.la-my .borrow.mit .basicfrome .label {
  line-height: 32px;
  margin-bottom: 20px;
}
.la-my .borrow.mit .basicfrome .label .subject {
  width: 80px;
}
.la-my .borrow.mit .basicfrome p {
  padding-left: 48px;
  margin-bottom: 15px;
}
.la-my .borrow.mit .basicfrome p input.submit {
  display: inline-block;
  background: #f95723;
  line-height: 35px;
  padding: 0px 20px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.la-my .borrow.mit .basicfrome p input.submit:hover {
  background: #e33c06;
}
